/* CSS Document */

 
body {
	/*background: #f7f7f7;*/
	background: #e3e5e8;
	color: #f7f7f7;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-weight: 300;
	font-size:16px;
}

/* Headings */

h1 {
  	font-size:30pt;
}

h2 {
	font-size:22pt;
}

h3 {
  	font-size:14pt;
}


/* Hyperlinks */

a:link {
  color: #1772d0;
  text-decoration: none;
}

a:visited {
  color: #1772d0;
  text-decoration: none;
}

a:active {
  color: red;
  text-decoration: none;
}

a:hover {
	color: #f09228;
  text-decoration: none;
}



/* Main page container */


.container {
	width: 1024px;
	min-height: 20px;
	margin: 0 auto; /* top and bottom, right and left */
	border: 1px hidden #000;
	/* border: none; */
	text-align: center;
	padding: 1em 1em 1em 1em; /* top, right, bottom, left */
	color: #4d4b59;
	background: #f7f7f7;
}

.overview {
	text-align: left;
}

.program {
	text-align: left;
}

.submissions {
	text-align: left;
}

.bolded{
	font-weight: bold;
}

.containersmall {
	width: 1024px;
	min-height: 10px;
	margin: 0 auto; /* top and bottom, right and left */
	border: 1px hidden #000;
	/* border: none; */
	text-align: left;
	padding: 1em 1em 1em 1em; /* top, right, bottom, left */
	color: #4d4b59;
	background: #f7f7f7;
}

.schedule {
	text-align: left;
	min-height: 200px;
	margin: 0 auto; /* top and bottom, right and left */
	/*border: 1px solid #000;*/
	border: none;
	text-align: left;
	padding: 1em 1em 1em 1em; /* top, right, bottom, left */
	color: #4d4b59;
	background: #f7f7f7;
}

.reviewers {
	text-align: left;
}

/* Title and menu */

.title{
	font-size: 22pt;
	margin: 1px;
}

.menubar {
  white-space: nowrap;
  margin-bottom: 0em;
  text-align:center;
  font-size:16px;
}


/* Announcements */

.announce_date {
	font-size: .875em;
	font-style: italic;
}
.announce {
	font-size: inherit;
}
.schedule_week {
	font-size: small;
	background-color: #CCF;
}


/* Schedule */

table.schedule {
	border-width: 1px;
	border-spacing: 2px;
	border-style: none;
	border-color: #000;
	border-collapse: collapse;
	background-color: white;
}

p.subtitle {
	text-indent: -5em;
	margin-left: 5em;
}

/* Notes */

table.notes {
	border: none;
	border-collapse: collapse;
}

.notes td {
	border-bottom: 1px solid;
	padding-bottom: 5px;
	padding-top: 5px;
}


/* Problem sets */

table.psets {
/*	border: none;*/
	border-collapse: collapse;
}

.psets td {
	border-bottom: 1px solid;
	padding-bottom: 5px;
	padding-top: 5px;
}


.acknowledgement 
{ 
	font-size: .875em; 
}

.code { 
	font-family: "Courier New", Courier, monospace 
}

.instructorphoto img {
  width: 150px;
  border-radius: 120px;
  margin-bottom: 5px;
}

.instructorphotosmall img {
  width: 100px;
  border-radius: 60px;
  margin-bottom: 10px;
}

.instructor {
	display: inline-block;
	width: 250px;
	text-align: center;
	margin-right: 20px;
  	margin-bottom: 10px;
  }

.instructorsmall {
  display: inline-block;
  width: 150px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

.navbar-fixed-top {
	width: 1024px;
	margin: 0 auto; /* top and bottom, right and left */
	border: 1px hidden #000;
}

.nav-container {
	width: 1024px;
	min-height: 10px;
	margin: 0 auto; /* top and bottom, right and left */
	border: 1px hidden #000;
	/* border: none; */
	text-align: center;
	padding: 1em 1em 1em 1em; /* top, right, bottom, left */
	color: #4d4b59;
	background: #f7f7f7;
}

/* .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    top: 0px;
    z-index: 1030;
} */

.img2{
	opacity: 0.15;
}

/* Centered text */
.centered {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-32.5%, -50%);
  }

.navbar-toggler {  
	margin-left: 90% !important;
}

/* 
 CSS for the main interaction
*/
/* .accordion > input[type="checkbox"] {
	position: absolute;
	left: -100vw;
  }
  
  .accordion .content {
	overflow-y: hidden;
	height: 0;
	transition: height 0.3s ease;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
	height: auto;
	overflow: visible;
  }
  
  .accordion label {
	display: block;
  }
   */
  /*
   Styling
  */

  /* .accordion {
	margin-bottom: 0em;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
	padding: 0px;
	border: 0px solid #f7f7f7;
	border-top: 0;
  }
  
  .accordion .handle {
	background: #f7f7f7;
	margin: 0;
	color: #f7f7f7;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-weight: 300;
	font-size:16px;
	line-height: 1em;
  }
   
  .accordion label {
	color: #333;
	cursor: pointer;
	font-weight: normal;
	padding: 1px;
	background: #f7f7f7;
  }
  
  /* .accordion label:hover, */
  .accordion label:focus {
	background: #f7f7f7;
  }
  
  .accordion .handle label:before {
	font-family: 'fontawesome';
	content: "\f054";
	display: inline-block;
	margin-right: 0px;
	font-size: .58em;
	line-height: 0em;
	vertical-align: middle;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .handle label:before {
	content: "\f078";
  }
   */
  
  /*
   Demo purposes only
  */
  /* *,
  *:before,
  *:after {
	box-sizing: border-box;
  }
  
  body {
	padding: 0px;
  }
  
  a {
	color: #06c;
  }
  
  p {
	margin: 0 0 1em;
  }
  
  h1 {
	margin: 0 0 1.5em;
	font-weight: 600;
	font-size: 1.5em;
  }
  
  .accordion {
	max-width: 65em;
  }
  
  .accordion p:last-child {
	margin-bottom: 0;
  } */

  /* section {
	padding-top: 4rem;
	width: 50%;
	margin: auto;
  }
  h1 {
	font-size: 2rem;
	font-weight: 500;
  } */
  details[open] summary ~ * {
	animation: open 0.3s ease-in-out;
  }
  
  @keyframes open {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  details summary::-webkit-details-marker {
	display: none;
  }
  
  details summary {
	width: 100%;
	padding: 0.5rem 0;
	border-bottom: 1px solid black;
	position: relative;
	cursor: pointer;
	/* font-size: 1.25rem;
	font-weight: 300; */
	list-style: none;
  }
  
  details summary:after {
	content: '+';
	/* color: black; */
	position: absolute;
	/* font-size: 1.75rem; */
	line-height: 0.7;
	margin-top: 0.75rem;
	right: 0;
	/* font-weight: 200; */
	transform-origin: center;
	transition: 200ms linear;
  }
  details[open] summary:after {
	transform: rotate(45deg);
	/* font-size: 2rem; */
  }
  details summary {
	outline: 0;
  }
  details p {
	/* font-size: 0.95rem; */
	margin: 0 0 1rem;
	padding-top: 1rem;
  }
  